*.log*
*.dat*
*.dir*
*.bak*
.idea/
__pycache__
*.pyc
.project
*.png*
venv/
.sqlite3
*.csv*
Sandbox/
pid*
Workflows/hud/skins/
/DailyDashboardReports/portal/dist/
/DailyDashboardReports/portal/node_modules/
storage.json
*/screenshots/*
qr/